p{
    background-color: #C2F670;
    width: 200px;
    height: 330px;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: 2em;
    margin-left: 10em;
    border-style: dotted;
}